Client/Connected Services/SoapiClient/SOARI2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://riskmanagerintegration.test.local/SOARI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Opa.RiskManagerIntegration.Model.Entities.Partial" />
  <xs:import schemaLocation="https://riskmanagerintegration.test.local/SOARI.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Opa.RiskManagerIntegration.Model.Entities.Repository" />
  <xs:element name="GetLastSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Opa.RiskManagerIntegration.Model.Entities.Partial" minOccurs="0" name="filtro" nillable="true" type="q1:FiltroBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Opa.RiskManagerIntegration.Model.Entities.Repository" minOccurs="0" name="GetLastSyncResult" nillable="true" type="q2:ArrayOfExecutionControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCreditos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Opa.RiskManagerIntegration.Model.Entities.Partial" minOccurs="0" name="filtro" nillable="true" type="q3:FiltroProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCreditosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Opa.RiskManagerIntegration.Model.Entities.Partial" minOccurs="0" name="ObtenerCreditosResult" nillable="true" type="q4:ArrayOfCreditoSOARIPartial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAsociado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Opa.RiskManagerIntegration.Model.Entities.Partial" minOccurs="0" name="filtro" nillable="true" type="q5:FiltroAsociado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAsociadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Opa.RiskManagerIntegration.Model.Entities.Partial" minOccurs="0" name="ObtenerAsociadoResult" nillable="true" type="q6:ArrayOfAsociadoSOARIPartial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Opa.RiskManagerIntegration.Model.Entities.Partial" minOccurs="0" name="filtro" nillable="true" type="q7:FiltroBalance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Opa.RiskManagerIntegration.Model.Entities.Partial" minOccurs="0" name="ObtenerBalanceResult" nillable="true" type="q8:ArrayOfBalanceSOARIPartial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerBalanceAgencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Opa.RiskManagerIntegration.Model.Entities.Partial" minOccurs="0" name="filtro" nillable="true" type="q9:FiltroBalance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerBalanceAgenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Opa.RiskManagerIntegration.Model.Entities.Partial" minOccurs="0" name="ObtenerBalanceAgenciaResult" nillable="true" type="q10:ArrayOfBalanceAgenciaSOARIPartial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAhorroContractual">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Opa.RiskManagerIntegration.Model.Entities.Partial" minOccurs="0" name="filtro" nillable="true" type="q11:FiltroProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAhorroContractualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Opa.RiskManagerIntegration.Model.Entities.Partial" minOccurs="0" name="ObtenerAhorroContractualResult" nillable="true" type="q12:ArrayOfAhorroContractualSOARIPartial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Opa.RiskManagerIntegration.Model.Entities.Partial" minOccurs="0" name="filtro" nillable="true" type="q13:FiltroProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Opa.RiskManagerIntegration.Model.Entities.Partial" minOccurs="0" name="ObtenerAporteResult" nillable="true" type="q14:ArrayOfAporteSOARIPartial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAhorroTermino">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Opa.RiskManagerIntegration.Model.Entities.Partial" minOccurs="0" name="filtro" nillable="true" type="q15:FiltroProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAhorroTerminoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Opa.RiskManagerIntegration.Model.Entities.Partial" minOccurs="0" name="ObtenerAhorroTerminoResult" nillable="true" type="q16:ArrayOfAhorroTerminoSOARIPartial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAhorroVista">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Opa.RiskManagerIntegration.Model.Entities.Partial" minOccurs="0" name="filtro" nillable="true" type="q17:FiltroProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAhorroVistaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Opa.RiskManagerIntegration.Model.Entities.Partial" minOccurs="0" name="ObtenerAhorroVistaResult" nillable="true" type="q18:ArrayOfAhorroVistaSOARIPartial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNovedades">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Opa.RiskManagerIntegration.Model.Entities.Partial" minOccurs="0" name="filtro" nillable="true" type="q19:FiltroProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNovedadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Opa.RiskManagerIntegration.Model.Entities.Partial" minOccurs="0" name="ObtenerNovedadesResult" nillable="true" type="q20:ArrayOfNovedadesSOARIPartial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTransacciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Opa.RiskManagerIntegration.Model.Entities.Partial" minOccurs="0" name="filtro" nillable="true" type="q21:FiltroTransacciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTransaccionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Opa.RiskManagerIntegration.Model.Entities.Partial" minOccurs="0" name="ObtenerTransaccionesResult" nillable="true" type="q22:ArrayOfTransaccionesSOARIPartial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>